@model ViewModels.OutCallModel

<div class="text-center">
    <h1 class="display-4">Идет звонок...</h1>
    <h4 class="display-7">Оператор: @ViewBag.OperatorName</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Приветствие</th>
                <th scope="col">Вопросы</th>
                <th scope="col">ФИО</th>
                <th scope="col">Номер</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.OutCall.Welcome</th>
                <td>@Model.OutCall.Questions</td>
                <td>@Model.OutCall.ContactFIO</td>
                <td>@Model.OutCall.ContactMobilePhone</td>
            </tr>
        </tbody>
    </table>

    <form asp-controller="OutCall" asp-action="Process" method="get">
        <input asp-for="OutCall.PhoneCallId" type="hidden">
        <button type="submit">Завершить</button>
    </form>

    <br/>

    <h4><span>Звонок длится: </span><span id="timer"></span></h4>
</div>

<script>
    var minutes = 0;
    var x = setInterval(function () {
        document.getElementById("timer").innerHTML = minutes;
        minutes++;
    }, 1000);
</script>